/* fonts */
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* font colors */
.logo-color{
    color: #4E47FF;
}
.dull-text{
   color:#252432
}

/* universal style */
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
body{
    background-color: #F5F8FF;
}

/* shared styles */


/* banner  styles*/
.banner {
  max-width: 100%;
  height: 700px;
  background-image: url(../Assets/Hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}
/* nav design */
.banner nav {
  max-width: 1440px;
  height: 90px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.banner nav h1{
    font-size: 32px;
    font-weight: bolder;
    letter-spacing: -3px;
}

.banner nav button{
    color: white;
    font-weight: bold;
background-color: #4E47FF;
padding: 16px 30px;
border-radius: 10px;
border: none;
transition: 0.3s;
}
.banner nav button:hover{
    cursor: pointer;
    background-color: transparent;
 color: black;
    border: 1px solid #4E47FF;
}

/*banner title */
.banner .banner-title{
    max-width: 907px;
    text-align: center;
    margin: 158px auto;
 
}
.banner .banner-title h1{
    font-size: 65px;
    font-weight: bold;
}
.banner .banner-title button{

    margin-top: 40px;
        color: white;
    font-weight: bold;
background-color: #4E47FF;
padding: 16px 30px;
border-radius: 10px;
border: none;
transition: 0.3s;
}
.banner .banner-title button:hover{
    cursor: pointer;
    background-color: transparent;
 color: black;
    border: 1px solid #4E47FF;
}


/* main section starts here */
main{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 116px;
    
}

/* action styles */
main .action{
display: flex;
justify-content: space-between;
align-items: center;
}
.action{
        max-width: 1320px;
        margin: 0 auto;
}
.action .action-title{
    width: 516px;
}

.action .action-title h1{
    font-size: 42px;
}
.action .action-title p{
    font-size: 24px;
  
}
.action .action-title button{
    font-size: 16px;
    color: white;
    font-weight: bold;
background-color: #4E47FF;
padding: 16px 30px;
border-radius: 10px;
border: none;
transition: 0.3s;
margin-top: 20px;

}
.action .action-title button:hover{
      cursor: pointer;
    background-color: transparent;
 color: black;
    border: 1px solid #4E47FF;
}
.action  img{
    width: 403px;
    border-radius: 50px;
}

/* user section styles */
.user{
    max-width: 1320px;
    height: 310px;
    margin: 120px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7FF;
    border-radius: 10px;
}
.user h1{
    font-size: 38px;
}
.user .user-child{
    display: flex;
    justify-content: space-between;
    width: 856px;
    margin-top: 40px;
}
.user .user-child .user-grand-child{
width: 200px;
text-align: center;
}
.user .user-child .user-grand-child h1{
    font-size: 80px;


}
.user .user-child .user-grand-child h4{
font-size: 20px;
font-weight: 300;
}


/* feedback section styles */
.feedback{
    max-width: 1320px;
margin: 120px auto;

}
.feedback h1{
    font-size: 42px;
    font-weight: bold;
    width: 100%;
   
    text-align: center;
}
.feedback .cards{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.cards .card{
    width: 300px;
    padding: 30px;
border: 1px solid rgba(128, 128, 128, 0.137);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
display: flex;
flex-direction: column;
gap: 10px;
}
.cards .card .identity{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;

}
.cards .card h4{
    font-size: 20px;
}
.cards .card p{
    font-size: 16px;
    opacity: 80%;
}
.cards .card .identity img{
    border-radius:50%;
}


.cards .card .identity .names h5{
font-size: 16px;
color: black;
font-weight: 400;
}
.cards .card .identity .names h6{
font-size: 14px;
color: black;
font-weight: 200;
}



/* get started section styles */
.get-started{
 max-width: 1320px;
 margin: 0 auto;
 padding: 100px 0;
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.get-started h1{
    font-size: 50px;
    font-weight: bold;
}
.get-started p{
    font-size: 16px;
    font-weight: 300;
}
.get-started button{
       font-size: 16px;
    color: white;
    font-weight: 300;
background-color: #4E47FF;
padding: 16px 30px;
border-radius: 10px;
border: none;
transition: 0.3s;
}
.get-started button:hover{
      cursor: pointer;
    background-color: transparent;
 color: black;
    border: 1px solid #4E47FF;
}

.get-started img{
    border-radius: 48px;
}


/* form section */
.form-fillup{
    max-width: 1320px;
    margin: 120px auto;
    padding: 70px 0;
    display: flex;
    justify-content:space-between ;
    align-items: center;
   
}
.form-fillup h1{
    font-size: 100px;
    font-weight: bold;
}
.form-fillup form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form-fillup form label{
    font-size: 18px;
}

.form-fillup form input,textarea{
    width: 500px;
    padding: 20px 32px;
    border-radius: 10px;
    outline:none;
    border: 1px solid rgba(128, 128, 128, 0.192);
    color: #000000;
    font-size: 16px;
}

.form-fillup form button{
        width: 100%;
    padding: 20px 32px;
    border-radius: 10px;
    border: none;
    background-color: #4E47FF;
    color: white;
    font-size: 16px;
        font-size: 16px;
        transition: 0.3s;
}
.form-fillup form button:hover{
      cursor: pointer;
    background-color: transparent;
 color: black;
    border: 1px solid #4E47FF;
}




/* footer starts */
footer{
    background-color: white;
    width: 100%;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;

}
footer .contents{
    width: 600px;
    padding: 40px;
    text-align: center;
    margin: 0 auto;
}
footer .contents h1{
    font-size: 100px;
       letter-spacing: -3px;
}

footer .contents p{
    font-size: 16px;
    font-weight: 300;
}
footer .contents ul{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    font-size: 16px;
}
footer .contents p{
    color: #9896AD;
}
footer .contents ul li a{
    text-decoration: none;
     color: #9896AD;
}