/* fonts */
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* font colors */
.logo-color{
    color: #4E47FF;
}
.dull-text{
   color:#252432
}

/* universal style */
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* shared styles */


/* banner  styles*/
.banner {
  max-width: 100%;
  height: 700px;
  background-image: url(../Assets/Hero-bg.png);
  margin: 0 auto;
  background-color: aqua;
}
/* nav design */
.banner nav {
  max-width: 1440px;
  height: 90px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.banner nav h1{
    font-size: 32px;
    font-weight: bolder;
    letter-spacing: -3px;
}

.banner nav button{
    color: white;
    font-weight: bold;
background-color: #4E47FF;
padding: 16px 30px;
border-radius: 10px;
border: none;
transition: 0.3s;
}
.banner nav button:hover{
    cursor: pointer;
    background-color: transparent;
 color: black;
    border: 1px solid #4E47FF;
}

/*banner title */
.banner .banner-title{
    max-width: 907px;
    text-align: center;
    margin: 158px auto;
 
}
.banner .banner-title h1{
    font-size: 65px;
    font-weight: bold;
}
.banner .banner-title button{

    margin-top: 40px;
        color: white;
    font-weight: bold;
background-color: #4E47FF;
padding: 16px 30px;
border-radius: 10px;
border: none;
transition: 0.3s;
}
.banner .banner-title button:hover{
    cursor: pointer;
    background-color: transparent;
 color: black;
    border: 1px solid #4E47FF;
}


/* main section starts here */
main{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 116px;
    
}

/* action styles */
main .action{
display: flex;
justify-content: space-around;
align-items: center;
}
.action{
        max-width: 1320px;
        margin: 0 auto;
}
.action .action-title{
    width: 516px;
}

.action .action-title h1{
    font-size: 42px;
}
.action .action-title p{
    font-size: 24px;
  
}
.action .action-title button{
    font-size: 16px;
    color: white;
    font-weight: bold;
background-color: #4E47FF;
padding: 16px 30px;
border-radius: 10px;
border: none;
transition: 0.3s;
margin-top: 20px;

}
.action .action-title button:hover{
      cursor: pointer;
    background-color: transparent;
 color: black;
    border: 1px solid #4E47FF;
}
.action  img{
    width: 403px;
    border-radius: 50px;
}

/* user section styles */
